
h1{
    text-align: center;
    color:#550101;

}

.search-input {
    width: 250px; /* Adjust the width as needed */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 540px;
}

.search-button {
    padding: 10px 20px;
    background-color: #E50914;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #ff5050;
}

#movie-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#movie-info img {
    width: 150px;
    height: 150px;
    max-width: 200px;
    margin-right: 20px;
    
}

#movie-info p {
    color: #550101; 
}

h2 {
    font-size: 20px;
    margin-top: 0;
    color: #550101; 

}

h2.not-found {
    text-align: center;
    margin-top:30px;



}

h2.recommend {
    font-size: 25px;
    margin-top: 20px; 
    margin-bottom: 20px; 
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
}

li {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}


li a {
    text-decoration: none;
    color: #550101;
    font-weight: bold;
    margin-top: 10px; /* Add margin at the top to create space */
}

li img {
    width: 140px;
    height: 130px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.2s, border-color 0.2s;
}

li a:hover {
    color: #E50914;
    text-decoration: underline;
}

li img:hover {
    transform: scale(1.1);
    border-color: #E50914;
}

