<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Nepali Movie Recommendation System</h1>
        <form action="/" method="post">
            <div class="form-container">
                <input type="text" name="movie_title" class="search-input" placeholder="Enter movie name" value="{{ movie_title if movie_title is not none else '' }}">
                <input type="submit" class="search-button" value="Search">
            </div>
        </form>
        {% if movie_title %}
            {% if movie_information %}
            <div id="movie-info">
                <img src="{{ movie_information.poster_url }}" alt="movie_img">
                <div>
                    <h2>{{ movie_information.Title }}</h2>
                    <p>Release Year: {{ movie_information.Year }}</p>
                    <p>Genres: {{ movie_information.Genre }}</p>
                    <p>Cast: {{ movie_information.Cast }}</p>
                    <p>Director: {{ movie_information.Director }}</p>
                </div>
            </div>
            <h2 class='recommend'>Recommended Movies</h2>
            <ul>
                
                {% for movie in recommended_movies %}
                <li>
                    <a href="#"><img src="{{ movie.poster_url }}" alt="movie_img"></a>
                    <a href="#">{{ movie.Title }}</a> <!-- Wrap the title in an <a> tag -->
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h2 class="not-found">Movie Not Found. Please check if you spelled it right!</h2>
            {% endif %}
            
        {% endif %}
    </div>
</body>

</html>